:root {
    --main-bg: #962fbf;
    --bg-pink: #d62976;
    --bg-blue: #4f5bd5;
    --main-color: #feda75;
    --main-orange: #fa7e1e;
}

/* heropage  */
.main-part {
    background-image: linear-gradient(180deg,
            hsl(283deg 61% 47%) 0%,
            hsl(292deg 63% 44%) 11%,
            hsl(300deg 66% 41%) 22%,
            hsl(307deg 71% 42%) 33%,
            hsl(312deg 75% 43%) 44%,
            hsl(317deg 77% 44%) 56%,
            hsl(321deg 77% 45%) 67%,
            hsl(325deg 75% 47%) 78%,
            hsl(329deg 72% 48%) 89%,
            hsl(333deg 68% 50%) 100%);
    height: 70vh;
    justify-content: center;

}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: auto;
}

.hero-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-img img {
    height: 20rem;
}

.mobile-hero {
    display: none;
}

.laptop-hero {
    display: inline-block;
}


/* diffcategories */
.diffcategories {
    padding-bottom: 5rem;
    background-image: linear-gradient(0deg,
            hsl(44deg 99% 73%) 0%,
            hsl(38deg 100% 70%) 34%,
            hsl(32deg 100% 69%) 49%,
            hsl(26deg 100% 68%) 59%,
            hsl(19deg 100% 68%) 67%,
            hsl(11deg 98% 68%) 73%,
            hsl(2deg 91% 67%) 79%,
            hsl(352deg 83% 63%) 85%,
            hsl(342deg 76% 57%) 91%,
            hsl(333deg 68% 50%) 100%);
}

.categories-box a {
    text-decoration: none;
    color: black
}

.category-style {
    margin-bottom: 10rem;
}

.box {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.our-category {
    margin-top: 3rem;
    padding-bottom: 30px;
    padding: 0 30px;
    min-height: 198px;
    text-align: center;
    color: #000;
    border-radius: 10px;
    background-color: #fff;
    transition: all 0.4s ease-in-out;
}

.our-category .icon {
    margin-bottom: -21px;
    transform: translateY(-50%);
    text-align: center;
    font-size: 1.5rem;
}

.our-category h4 {
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
}


/* Categories on hover  */
.our-category:hover h4,
.our-category:hover p {
    color: #fff;
}

.poems:hover,
.articles:hover {
    box-shadow: 0 0 25px 0 rgba(33, 39, 221, 0.2);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #f33474 0%, #f55b2a 50%);
}

.books:hover,
.shortstories:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #fd7f30 0%, #fdb642 50%);
}

.our-category .icon {
    border-radius: 54% 46% 33% 67% / 64% 66% 34% 36%;
    height: 3rem;
    width: 3rem;
    color: white;
}

.poems .icon,
.articles .icon {
    background-image: linear-gradient(-45deg, #f33474 0%, #f55b2a 50%);
}

.books .icon,
.shortstories .icon {
    background-image: linear-gradient(-45deg, #fd7f30 0%, #fdb642 50%);
}