:root {
    --main-bg: #962fbf;
    --bg-pink: #d62976;
    --bg-blue: #4f5bd5;
    --main-color: #feda75;
    --main-orange: #fa7e1e;
}


body {
    background-color: white;
}

.profile-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.profile-img-area {
    background-color: var(--main-bg);
    height: 8rem;
    width: 100vw;
    position: relative;
}

.profile-img {
    height: 10rem;
    width: 10rem;
    border: 2px solid black;
    border-radius: 100%;
    position: absolute;
    right: 50%;
    bottom: 0%;
    transform: translate(50%, 50%);
}

.profile-data-area {
    width: 20rem;
    border-radius: 0.2rem;
    margin-top: 6rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 0.5rem;
    background-image: linear-gradient(180deg,
            hsl(161deg 100% 42%) 0%,
            hsl(153deg 73% 51%) 20%,
            hsl(145deg 73% 56%) 30%,
            hsl(135deg 74% 61%) 40%,
            hsl(124deg 75% 65%) 50%,
            hsl(110deg 79% 65%) 60%,
            hsl(99deg 84% 63%) 70%,
            hsl(90deg 88% 60%) 80%,
            hsl(82deg 91% 56%) 90%,
            hsl(74deg 100% 48%) 100%);
}

.username {
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
}


/* Followers */
.my-follow {
    display: flex;
    justify-content: space-evenly;
}

.my-follow div {
    text-align: center;
}


/* FOLLOW POP UP  */
.follow-pop-up {
    padding: 1rem;
    z-index: 9999;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: var(--main-color);
    width: 20rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.562);
    border-radius: 0.5rem;
}

.follow-label {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.people-list {
    display: flex;
    flex-direction: column;
    max-height: 13rem;
    min-height: 5rem;
    overflow: scroll;
    background-color: #f55b2a;
    box-shadow: inset 2px 2px 7px 0px rgba(0, 0, 0, 0.25);
}

.people-list::-webkit-scrollbar {
    display: none;
}

.each-person {
    padding: 0.3rem 1rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.158);
}


/* MY UPLOADS  */
.my-uploads-area {
    margin-bottom: 2rem;
}

.my-uploads-label {
    text-transform: uppercase;
    color: var(--main-bg);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 1px 1.2px 1px rgba(0, 0, 0, 0.42);
    margin-bottom: 1rem;
}

.show-type {
    display: flex;
}

.show-type-btn {
    background-color: var(--bg-pink);
    border: 1px solid var(--main-color);
    padding: 0.3rem;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.313);
}

.type-active {
    background-color: #feda75;
    box-shadow: 0px 0px 0px black;
    transform: translate(0px, 3px);
}

.my-all-uploads {
    min-height: 10rem;
    background-color: var(--main-color);
    box-shadow: inset 2px 2px 7px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0.2rem;
}

.upload-element {
    display: flex;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 0.2rem;
    justify-content: space-between;
    align-items: center;
}




/* UPLOAD area  */
.content-upload-area {
    height: 6rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}






.myUploads div p:first-child {
    margin-bottom: 0;
}

.myUploads div p:last-child {
    letter-spacing: 0.1rem;
}

.myAll {
    background-color: var(--bg-pink);
    width: 100%;
    height: 3rem;
    outline: none;
    border: none;
    border-top: 2px solid var(--bg-pink);
}

.myAll:first-child {
    border-radius: 1rem 0 0 0;
    border-top: 2px solid var(--bg-pink);
}

.myAll:last-child {
    border-radius: 0 1rem 0 0;
    border-right: 2px solid var(--bg-pink);
}

.myAllActive {
    background-image: linear-gradient(90deg,
            hsl(333deg 68% 50%) 0%,
            hsl(33deg 100% 69%) 20%,
            hsl(44deg 99% 73%) 40%,
            hsl(44deg 99% 73%) 60%,
            hsl(33deg 100% 69%) 80%,
            hsl(333deg 68% 50%) 100%);
}

.myAllButtons {
    display: flex;
}

.myAllPoems {
    max-height: 50vh;
    height: 30vh;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    overflow: scroll;
}

.eachPoem {
    display: flex;
    border-bottom: 1px solid #f55b2a;
    padding: 1rem;
    /* justify-content: center; */
    align-items: center;
    gap: 1rem;
}

.eachPoem p {
    margin-bottom: 0;
}

.title {
    width: 100%;
    text-decoration: none;
    color: black;
}

.poem-options {
    text-decoration: none;
    color: black;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2rem;
    height: 1.7rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poem-options:nth-child(3) {
    background-color: rgba(144, 244, 29, 0.653);
}

.poem-options:nth-child(3):hover {
    background-color: rgba(13, 255, 0, 0.653)
}

.poem-options:nth-child(4) {
    background-color: rgba(244, 104, 29, 0.653);
}

.poem-options:nth-child(4):hover {
    background-color: rgba(255, 0, 0, 0.653)
}

.hidden {
    display: none;
}


@media (max-width: 980px) {}