:root {
    --main-bg: #962fbf;
    --bg-pink: #d62976;
    --bg-blue: #4f5bd5;
    --main-color: #feda75;
    --main-orange: #fa7e1e;
}

body::-webkit-scrollbar {
    display: none;
}



/* navbar  */
.navbar {
    background-color: var(--main-bg);
}

.navbar-nav {
    justify-content: center;
}

.dropdown-menu {
    background-color: var(--bg-pink);
}

.dropdown-menu a:hover {
    background-color: #7f1947;
    color: white;
}

.profile a svg {
    font-size: 2rem;
}



/* loading page  */
.loader {
    height: 90vh;

}


/* poems  */
.all-poems-area {
    height: 100vh;
    background-image: linear-gradient(180deg,
            hsl(283deg 61% 47%) 0%,
            hsl(292deg 63% 44%) 11%,
            hsl(300deg 66% 41%) 22%,
            hsl(307deg 71% 42%) 33%,
            hsl(312deg 75% 43%) 44%,
            hsl(317deg 77% 44%) 56%,
            hsl(321deg 77% 45%) 67%,
            hsl(325deg 75% 47%) 78%,
            hsl(329deg 72% 48%) 89%,
            hsl(333deg 68% 50%) 100%);
}

.all-poems {
    display: flex;
    min-width: 80vw;
    gap: 5rem;
    overflow: scroll;
}

.all-poems::-webkit-scrollbar {
    display: none;
}


/* search box */
.search-box {
    display: flex;
    border-radius: 2rem;
    padding: 0.4rem;
    border-radius: 3rem;
    background-image: linear-gradient(to left, var(--main-color), var(--main-orange));
    color: var(--main-bg);
    margin-bottom: 2rem
}

.search-area {
    width: 100%;
    background-color: rgba(255, 0, 0, 0);
    outline: none;
    border: none;
}

.search-box button {
    border: none;
    background-color: rgba(255, 0, 0, 0);
    margin-right: 0.2rem;
}








/* singlePeom  */





















/* poem  */
.poem-item figure img {
    height: 15rem;
    width: 10rem;
}

.poem-item {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.1rem;
}












.updateArea {
    height: 100vh;
    background-image: linear-gradient(180deg,
            hsl(283deg 61% 47%) 0%,
            hsl(292deg 63% 44%) 11%,
            hsl(300deg 66% 41%) 22%,
            hsl(307deg 71% 42%) 33%,
            hsl(312deg 75% 43%) 44%,
            hsl(317deg 77% 44%) 56%,
            hsl(321deg 77% 45%) 67%,
            hsl(325deg 75% 47%) 78%,
            hsl(329deg 72% 48%) 89%,
            hsl(333deg 68% 50%) 100%);
}

.contentUpdateArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.contentUpdateArea textarea {
    background-color: #fed97576;
    outline: none;
    border: none;
}

.contentUpdateArea button {
    width: 10rem;
    padding: 0.5rem;
    border: 1px solid white;
    outline: none;
    border-radius: 2rem;
    color: #fff;
    background-image: linear-gradient(90deg,
            hsl(161deg 100% 42%) 0%,
            hsl(153deg 73% 51%) 27%,
            hsl(145deg 73% 56%) 46%,
            hsl(135deg 74% 61%) 60%,
            hsl(124deg 75% 65%) 71%,
            hsl(110deg 79% 65%) 79%,
            hsl(99deg 84% 63%) 86%,
            hsl(90deg 88% 60%) 91%,
            hsl(82deg 91% 56%) 96%,
            hsl(74deg 100% 48%) 100%);
}


/* Upload Area  */
.upload-area {
    background-image: linear-gradient(180deg,
            hsl(283deg 61% 47%) 0%,
            hsl(292deg 63% 44%) 11%,
            hsl(300deg 66% 41%) 22%,
            hsl(307deg 71% 42%) 33%,
            hsl(312deg 75% 43%) 44%,
            hsl(317deg 77% 44%) 56%,
            hsl(321deg 77% 45%) 67%,
            hsl(325deg 75% 47%) 78%,
            hsl(329deg 72% 48%) 89%,
            hsl(333deg 68% 50%) 100%);
}

.upload {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* background-color: var(--main-bg); */
}

.upload input {
    /* width: ; */
}

.input-group {
    position: relative;
}

.input-group__input {
    font: inherit;
    z-index: 2;
    width: 100%;
    color: #fff;
    padding: 0.8rem;
    border: none;
    border-radius: 0.3rem;
    outline: 2px solid #fff;
    background-color: transparent;
    transition: ouline-color 500ms;
}

.input-group__input:is(:focus, :valid) {
    /* outline-color: #3c50eb; */
}

.input-group__label {
    position: absolute;
    top: 0;
    left: 0;
    translate: 10px 10px;
    color: #fff;
    transition: translate 1000ms, scale 500ms;
}

.input-group__input:focus+.input-group__label,
.input-group_input:valid+.input-group__label {
    padding-inline: 5px;
    translate: 10px -14px;
    scale: 0.8;
    /* outline-color: #3c50eb; */
    background-color: #962fbf;
}

.upload-submit {
    border: 1px solid #fff;
    color: #fff;
    background-image: linear-gradient(90deg,
            hsl(161deg 100% 42%) 0%,
            hsl(153deg 73% 51%) 27%,
            hsl(145deg 73% 56%) 46%,
            hsl(135deg 74% 61%) 60%,
            hsl(124deg 75% 65%) 71%,
            hsl(110deg 79% 65%) 79%,
            hsl(99deg 84% 63%) 86%,
            hsl(90deg 88% 60%) 91%,
            hsl(82deg 91% 56%) 96%,
            hsl(74deg 100% 48%) 100%);
    width: 10rem;
    padding: 0.3rem;
    border-radius: 1rem;
}

.upload-submit:hover {
    background-image: linear-gradient(270deg,
            hsl(161deg 100% 42%) 0%,
            hsl(153deg 73% 51%) 27%,
            hsl(145deg 73% 56%) 46%,
            hsl(135deg 74% 61%) 60%,
            hsl(124deg 75% 65%) 71%,
            hsl(110deg 79% 65%) 79%,
            hsl(99deg 84% 63%) 86%,
            hsl(90deg 88% 60%) 91%,
            hsl(82deg 91% 56%) 96%,
            hsl(74deg 100% 48%) 100%);
    /* scale: 1.1; */
}







@media (max-width: 980px) {
    .mobile-hero {
        display: inline-block;
    }

    .laptop-hero {
        display: none;
    }
}


/* Rqst Login */
.rqst-login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(135deg,
            hsl(283deg 61% 47%) 0%,
            hsl(315deg 76% 43%) 50%,
            hsl(333deg 68% 50%) 100%);
}

.rqst-login-popup {
    height: 10rem;
    background-color: #feda75;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.25);
    border: 2px solid rgba(255, 255, 255, 0.427);
}

.rqst-back {
    width: 100%;
    text-align: left;
}

.rqst-back button {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    box-shadow: inset 2px 2px 7px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rqst-back button:hover {
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.25);
}

.rqst-login-popup h2 {
    letter-spacing: 0.3px;
    margin-bottom: 1.5rem;
}

.rqst-login-btn {
    box-shadow: inset 2px 2px 7px 0px rgba(0, 0, 0, 0.25);
    border: none;
    background-image: linear-gradient(180deg,
            hsl(161deg 100% 42%) 0%,
            hsl(153deg 73% 51%) 20%,
            hsl(145deg 73% 56%) 30%,
            hsl(135deg 74% 61%) 40%,
            hsl(124deg 75% 65%) 50%,
            hsl(110deg 79% 65%) 60%,
            hsl(99deg 84% 63%) 70%,
            hsl(90deg 88% 60%) 80%,
            hsl(82deg 91% 56%) 90%,
            hsl(74deg 100% 48%) 100%);
    border-radius: 0.5rem;
    width: 6rem;
    padding: 0.4rem;
    letter-spacing: 0.1rem;
}

.rqst-login-btn:hover {
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.25);
}